.mb-picker-dialog{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,1);
    transition: opacity 0.3s ease-out;
    transform: translateY(100%);
    opacity: 0;
    z-index: 99;
}
.mb-picker-title{
    text-align: center;
    padding-top: 5px;
    color: #404447;
}
.mb-picker-dialog.show{
    transform: translateY(0);
    opacity: 1;
    background-color: rgba(0,0,0,0.5);
}
.mb-picker-dialog.show.hide{
    transition: opacity 0s ease-out;
}
.mb-picker-box{
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #fff;
    transform: translateY(100%);
    border-top: 1px solid #ccc;
    margin: 0;
    transition: all 0.3s ease-out;
    overflow: hidden;
    border-radius: 12px 12px 0 0;

}
.mb-picker-box.show{
    transform: translateY(0);
}
.mb-picker-header{
    padding: 5px 0;
    overflow: hidden;
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
    background-color: #F3F5F8;
}
.mb-picker-cancel{
    float: left;
    padding: 6px 10px;
    margin: 0 3px;
    color: #3B7EF7;
    cursor: pointer;

}
.mb-picker-sure{
    float: right;
    padding: 5px 10px;
    margin: 0 3px;
    color: #3B7EF7;
    cursor: pointer;
}
.mb-picker-item{
    height: 42px;
    text-align: center;
    color:#999;
    line-height: 42px;
    transition: color 0.3s;
    font-size: 14px;
    opacity: 0.9;
}
.mb-picker-item.active{
    color:#000;
    font-size: 16px;
    opacity: 1;
}
.mb-picker-body{
    height: 212px;
    position: relative;
    -webkit-mask-box-image: linear-gradient(to top,transparent,transparent 5%,#fff 20%,#fff 80%,transparent 95%,transparent);
    -webkit-mask-box-image: -webkit-linear-gradient(to top,transparent,transparent 5%,#fff 20%,#fff 80%,transparent 95%,transparent);
}
.mb-picker-group{
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
}
.mb-picker-line{
    position: absolute;
    width: 100%;
    top: 84px;
    height:42px;
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    /*z-index: -1;*/
}
.mb-picker-items{
    /*transform: translateY(90px);*/
    flex: 1;
    position: relative;
}
.mb-picker-items.amanite{
    transition: transform 0.3s ease-out;
}
.mb-picker-item.pre,.mb-picker-item.next{
    font-size: 14px;
    opacity: 8;
}
/*3d样式*/
.preserve-3d{
    transform-style: preserve-3d;
/*    perspective: 500px;*/
    position: relative;
}
.preserve-3d .mb-picker-item{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.mb-picker-body.is-3D{
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform-origin: center center;
    /*perspective: 1200px;*/
}
.mb-picker-body.is-3D .mb-picker-item{
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform-origin: center center -110px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 16px;
}
.mb-picker-body.is-3D .mb-picker-group{
    perspective: 1200px;
}
.mb-picker-body.is-3D .mb-picker-group,.mb-picker-body.is-3D .mb-picker-items{
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}
